{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "pub/**",
                        "label": "GFK.Image"
                    }
                ]
            }
        ],
        [
            "@semantic-release/exec",
            {
                "publishCmd": "pwsh -Command { Update-ModuleManifest pub/GFK.Image/GFK.Image.psd1 -ModuleVersion ${nextRelease.version} }"
            }
        ]
    ]
}